<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="stats">Estatísticas</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
			<div>
				<table>
					<tr>
						<td>Resumo</td>
						<td>
							<input type="text" name="data.resumo" value="{{data.data.resumo}}" />
						</td>
					</tr>
				</table>
			</div>
            <div>
				<label>Descrição</label>
				<div class="item-description">
					{{editor content=data.data.descricao target="data.descricao" button=true owner=owner editable=editable}}
				</div>
			</div>
        </div>
		
        {{!-- Stats Tab --}}
        <div class="tab" data-group="primary" data-tab="stats">
			<div>
				<table>
					<tr>
						<td>Custo</td>
						<td>
							<input name="data.custo" type="number" value="{{data.data.custo}}" />
						</td>
					</tr>
					<tr>
						<td>Casta</td>
						<td>
							<select name="data.casta">
								{{#select data.data.casta}}
									<option value="cacador">Caçador</option>
									<option value="gladius">Gladius</option>
									<option value="mago">Mago</option>
									<option value="notivago">Notivago</option>
									<option value="profeta">Profeta</option>
									<option value="todas">Todas</option>
								{{/select}}
							</select>
						</td>
					</tr>
				</table>
			</div>
        </div>
    </section>
</form>
