<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="atributos">Atributos</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
			<div>
				<table>
					<tr>
						<td>Resumo</td>
						<td>
							<input type="text" name="data.resume" value="{{data.data.resume}}" />
						</td>
					</tr>
				</table>
			</div>
            <div>
				<label>Descrição</label>
				<div class="item-description">
					{{editor content=data.data.descricao target="data.descricao" button=true owner=owner editable=editable}}
				</div>
			</div>
        </div>
		
        {{!-- Atributos Tab --}}
        <div class="tab" data-group="primary" data-tab="atributos">
			<div>
				<table>
					<tr>
						<td>Circulo</td>
						<td>
							<input type="text" name="data.nivel" value="{{data.data.nivel}}" />
						</td>
					</tr>
					<tr>
						<td>Custo</td>
						<td>
							<input type="text" name="data.custo" value="{{data.data.custo}}" />
						</td>
					</tr>
					<tr>
						<td>Disciplina</td>
						<td>
							<select name="data.disciplina">
								{{#select data.data.disciplina}}
									<option value="Água">Água</option>
									<option value="Ar">Ar</option>
									<option value="Corpo">Corpo</option>
									<option value="Espírito">Espírito</option>
									<option value="Fogo">Fogo</option>
									<option value="Luz">Luz</option>
									<option value="Realidade">Realidade</option>
									<option value="Sombras">Sombras</option>
									<option value="Terra">Terra</option>
								{{/select}}
							</select>
						</td>
					</tr>
					<tr>
						<td>Escola</td>
						<td>
							<select name="data.escola">
								{{#select data.data.escola}}
									<option value="Abjuração">Abjuração</option>
									<option value="Advinhação">Advinhação</option>
									<option value="Conjuração">Conjuração</option>
									<option value="Encantamento">Encantamento</option>
									<option value="Evocação">Evocação</option>
									<option value="Ilusão">Ilusão</option>
									<option value="Necromancia">Necromancia</option>
									<option value="Transmutação">Transmutação</option>
								{{/select}}
							</select>
						</td>
					</tr>
					<tr>
						<td>Tempo de conjuração</td>
						<td>
							<input type="text" name="data.tempo" value="{{data.data.tempo}}" />
						</td>
					</tr>
					<tr>
						<td>Alcance</td>
						<td>
							<input type="text" name="data.alcance" value="{{data.data.alcance}}" />
						</td>
					</tr>
					<tr>
						<td>Duração</td>
						<td>
							<input type="text" name="data.duracao" value="{{data.data.duracao}}" />
						</td>
					</tr>
					<tr>
						<td>Alvo</td>
						<td>
							<input type="text" name="data.alvo" value="{{data.data.alvo}}" />
						</td>
					</tr>
					<tr>
						<td>Área</td>
						<td>
							<input type="text" name="data.area" value="{{data.data.area}}" />
						</td>
					</tr>
					<tr>
						<td>Dano/Cura(se houver)</td>
						<td>
							<input type="text" name="data.dano" value="{{data.data.dano}}" />
						</td>
					</tr>
					<tr>
						<td>Dano Contínuo</td>
						<td>
							<input type="text" name="data.dano-continuo" value="{{data.data.dano-continuo}}" />
						</td>
					</tr>
					<tr>
						<td>Peso</td>
						<td>
							<input type="text" name="data.peso" value="{{data.data.peso}}" />
						</td>
					</tr>
					<tr>
						<td>Velocidade</td>
						<td>
							<input type="text" name="data.velocidade" value="{{data.data.velocidade}}" />
						</td>
					</tr>
				</table>
			</div>
        </div>
    </section>
</form>
